CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions/v2/16m.csv"
CONFIG_USE_DEVICE_AEC=y
CONFIG_USE_EMOTE_MESSAGE_STYLE=y
CONFIG_MMAP_FILE_NAME_LENGTH=32
CONFIG_FLASH_EXPRESSION_ASSETS=y
